<footer class="site-footer">
    <div class="wrapper" align=center>
	<span class="footer-col-wrapper" style="display: table">&copy; {{ 'now' | date: "%Y" }} <a href=http://ratan.me target="_blank" style="color: #828282;">ratan</a>.</span>
        <span class="footer-col-wrapper" style="display: table;word-spacing: 2px;"><a href="http://bit.ly/_dishkiyaoon" target="_fb" style="color:#828282"><i class="fa fa-facebook-official fa-lg" style="color:#3b5998"></i></a><SPAN STYLE="COLOR:#fff">...</SPAN><a href="http://blog.ratan.me/feed.xml" target=_rss style="color: #828282"><i class="fa fa-rss fa-lg"></i></a>
</span>
</div>
</footer>
