<head>
    <title>blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta name="description" content="homepage of ratan" />
    <meta property="og:site_name" content="ratan.me" />
    <meta property="og:title" content="ratan.me" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="ratan's homepage" />
    <meta property="og:url" content="http://blog.ratan.me" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="nQ2-pKvNsfpDjXvFe7WOzxM7rLJjeQpHqYzVhPPV4yc" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="ratan's homepage" />
    <meta name="author" content="Ratandeep Singh" />
    <meta name="keywords" content="poetry,story,photography,music,books,doodles,running,cycling,horology,aviation" />
    <meta property="og:image" content="../assets/screenshot.jpg" />
    {% if page.url == "/404" %}
        <meta http-equiv="refresh" content="3; url=/">
    {% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes"/>
  <meta http-equiv="EXPIRES" content="Mon, 01 Jan 2021 12:00:00 GMT">
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,200,400" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    <link href='../css/main.css' rel='stylesheet' type='text/css'>
    <link href='../css/icons.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
</head>
