<head>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  {% if page.title %}<meta name="title" content="{{ page.title }}">{% endif %}
  {% if page.image %}<meta property="og:image" content="{{ page.image }}"/>{% endif %}
  <title>blog</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <meta property="og:site_name" content="ratan's blog" />
  <meta property="og:type" content="article" />
  <meta name="thumbnail" content="http://blog.ratan.me/assets/favicon-128.png" />
  <!--meta property="og:url" content="http://blog.ratan.me{{ page.url }}" /-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="nQ2-pKvNsfpDjXvFe7WOzxM7rLJjeQpHqYzVhPPV4yc" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="author" content="ratan" />
  <meta name="keywords" content="poetry,story,photography,music,books,doodles,running,cycling,horology,aviation" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes"/>
  <link href='/blog/css/gfont.min.css' rel="stylesheet" type="text/css" />
  <link href='/blog/css/main.min.css' rel='stylesheet' type='text/css'>
  <link href='/blog/css/format.min.css' rel='stylesheet' type='text/css'>
  <!--link href='/blog/css/font-awesome.min.css' rel='stylesheet' type='text/css'-->
  <!--link href='/blog/css/icons.min.css' rel='stylesheet' type='text/css'-->
  <link rel="alternate" type="application/rss+xml" title="rss" href="/feed.xml">
  <meta name="msapplication-TileImage" content="/assets/favicon.ico">
  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" href="/assets/favicon-256.png" sizes="256x256">
  <link rel="apple-touch-icon" sizes="256x256" href="/assets/favicon-256.png">
  <script>
    var cb = function(){
      var styles = ["/blog/css/icons.min.css"];
      for( var i = styles.length - 1; i >= 0; i-- )
      {
        l = document.createElement( 'link' );
        l.rel = 'stylesheet';
        l.href = styles[i];
        h = document.getElementsByTagName( 'head' )[0];
        h.insertBefore( l, h.childNodes[h.childNodes.length-1] );
      };
    };

    var raf = ( "undefined" != typeof requestAnimationFrame ) ? requestAnimationFrame : false ||
    ( "undefined" != typeof mozRequestAnimationFrame ) ? mozRequestAnimationFrame : false ||
    ( "undefined" != typeof webkitRequestAnimationFrame ) ? webkitRequestAnimationFrame : false ||
    ( "undefined" != typeof msRequestAnimationFrame ) ? msRequestAnimationFrame : false;

    if( raf )
    {
      raf( cb );
    }
    else
    {
      if( "undefined" != typeof window.addEventListener )
        window.addEventListener( 'load', cb );
      else if( "undefined" != typeof window.attachEvent )
        window.attachEvent( 'onload', cb );
    }
  </script>
  <!--noscript>your browser does not support javascript.</noscript-->
  {% seo %}
</head>
