<span align=center>

<ul class="icons" id="icons01">
                    <li><a class="icon icon-905 n01" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="share on twitter" ><span class="label">twitter</span></a>
</li>
<li><a class="icon icon-906 n01" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="share on facebook"><span class="label">facebook</span></a></li>
<li><a class="icon icon-909 n01" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="share on google+"><span class="label">google+</span></a></li>
</uL>
</span>