---
layout: default
---
<!-- this file is reqd as the post.md default layout is post -->
<div class="home">
<span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
<h2 class=post-link>{{ page.title | escape }}</h2>

<span align=justify>{{ content }}</span>
    </div>

          {% include share.html %}

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{page.next.url}}" class=PageNavigation align=right>{{page.next.title}} &raquo;</a></div>
  {% endif %}
</div>